.headerContainer {

}

.formContainer {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    height: 250px;
    width: 30%;
    border: 3px solid black;
    margin-bottom: 20px;
}

.form > input {
    text-align: center;
    width: 70%;
    margin-left: 20px;
}

.checkBoxDiv {
    margin-left: 20px;
}

.button {
    margin-left: 20px;
    height: 20px;
    width: 70%;
}

.customerContainer {
    display: flex;
    flex-direction: column;
}

.customerCard {
    border: 3px solid black;
    margin: 5px 10px;
    padding: 5px;
    background-color: beige;
}

.customerCardVIP{
    border: 3px solid black;
    margin: 5px 10px;
    padding: 5px;
    background-color: forestgreen;
}